<div class="footer col-12">
  <div class="ml-4 mr-4">
    <div class="top">
      <label>
        THEMOVIEBOX
      </label>
      <span>Contact</span>
      <span>Ratings</span>
      <span>Movies</span>
      <span>About</span>
    </div>
    <div class="bottom">
      <label>Designed by Milan Houter. All rights reserved</label>
      <button class="linkedin"></button>
      <button class="twitter"></button>
      <button class="pin"></button>
      <button class="facebook"></button>
    </div>
  </div>
</div>